# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# OS files
.DS_Store

# Logs
*.log

# Dataset and output files
data/**/*.zip
data/**/*.tar
data/**/*.csv
data/**/*.npy

# Model weights and checkpoints
*.pt
*.pth
*.h5
*.ckpt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Temporary or local config files
*.local
*.bak
